<html>

<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>My First Web Page</title>
    <script>
        loadQueryParams = function() {
            var params = {};
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                params[pair[0]] = decodeURIComponent(pair[1]);
            }
            if (params.fulldata) {
                return JSON.parse(params.fulldata);
            }
            return params;
        }
        window.params = loadQueryParams();
    </script>
    <script src="dist/bundle.js"></script>
    <style>
        .beatsettings input[type="range"] {
           appearance: slider-vertical;
           width: 1rem;
        }
        .beatsettings {
            display: flex;
            width: 100%;
        }
        .beatsetting {
            display: flex;
            flex-direction: column;
        }
        .beat1 .beatsetting:nth-child(1n) {
            margin-right: 1rem;
        }
        .beat2 .beatsetting:nth-child(2n + 1) {
            margin-right: 1rem;
        }
        .beat3 .beatsetting:nth-child(3n + 1) {
            margin-right: 1rem;
        }
        .beat4 .beatsetting:nth-child(4n + 1) {
            margin-right: 1rem;
        }
        .beat5 .beatsetting:nth-child(5n + 1) {
            margin-right: 1rem;
        }
        .beat6 .beatsetting:nth-child(6n + 1) {
            margin-right: 1rem;
        }
        .beat7 .beatsetting:nth-child(7n + 1) {
            margin-right: 1rem;
        }
        .beat8 .beatsetting:nth-child(8n + 1) {
            margin-right: 1rem;
        }
        .beat9 .beatsetting:nth-child(9n + 1) {
            margin-right: 1rem;
        }
        .main-settings-wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            border: 1px solid black;
            padding: 0.5rem;
            margin: 0.5rem;
        }
        .secondary-settings-wrapper {
            display: flex;
            flex-direction: column;
            width: 20%;
            margin-left: 2rem;
        }
        .settings-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 0.5rem;
        }
        #vue-template {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    </style>
</head>

<body>
<p id="currentChord"></p>
<div style="margin-top: 3rem; display: flex; justify-content: space-between; padding: 1rem 5rem; border: 1px solid black; flex-wrap: wrap;">

    <div id="vue-template">
        <div>
            <button @click="saveParams(true)">Aja koko sävellys</button>
            <button onclick="newMelody()">Aja vain melodia</button>
            <button onclick="window.location.href = '/'">Reset</button>
        </div>
        <div class="main-settings-wrapper">
            <h2>Pääasetukset</h2>
            <div class="secondary-settings-wrapper">
                <div class="settings-row">
                    <label for="cadence-count">Sointukulkujen määrä</label>
                    <input v-model="params.cadenceCount" type="number" id="cadence-count" min="1" max="300" step="1" style="width: 100px">
                </div>
                <div class="settings-row">
                    <label for="beats-per-bar">Tahtilaji</label>
                    <input v-model="params.beatsPerBar" type="number" id="beats-per-bar" min="1" max="9" step="1" style="width: 100px">
                </div>
            </div>
        </div>
        <div v-for="(cadenceParams, index) in (params.cadences || [])" :key="index" class="main-settings-wrapper">
            <h2>Sointukulku {{ index + 1 }}</h2>
            <div class="secondary-settings-wrapper">
                <div class="settings-row">
                    <label :for="`${index}-bars-per-cadence`">Sointukulun pituus (tahtia)</label>
                    <input v-model="cadenceParams.barsPerCadence" @change="updateCadenceBars(cadenceParams)" type="number" :id="`${index}-bars-per-cadence`" min="1" max="300" step="1" style="width: 100px">
                </div>
                <div class="settings-row">
                    <label :for="`${index}-base-tension`">Vaikeusaste</label>
                    <input :value="cadenceParams.baseTension" @change="updateBaseTension(cadenceParams, $event)" type="range" :id="`${index}-base-tension`" min="-1" max="2" step="0.1" style="width: 100px">
                </div>
                <div v-if="index == 0" class="settings-row">
                    <label :for="`${index}-tempo`">Tempo</label>
                    <input v-model="cadenceParams.tempo" type="number" :id="`${index}-tempo`" min="1" max="300" step="1" style="width: 100px">
                </div>
                <div class="settings-row">
                    <label :for="`${index}-half-notes`">Puolinuotit</label>
                    <input v-model="cadenceParams.halfNotes" type="checkbox" :id="`${index}-half-notes`" style="width: 100px">
                </div>
                <div class="settings-row">
                    <label :for="`${index}-eighth-notes`">Kahdeksasosat</label>
                    <input v-model="cadenceParams.eighthNotes" type="range" :id="`${index}-eighth-notes`" min="0" max="1" step="0.1" style="width: 100px">
                </div>
                <div class="settings-row">
                    <label :for="`${index}-sixteenth-notes`">Kuudestoistaosat</label>
                    <input v-model="cadenceParams.sixteenthNotes" type="range" :id="`${index}-sixteenth-notes`" min="0" max="1" step="0.1" style="width: 100px">
                </div>
                <div class="settings-row">
                    <label :for="`${index}-modulation-weight`">Modulaatioarvo</label>
                    <input v-model="cadenceParams.modulationWeight" type="range" :id="`${index}-modulation-weight`" min="0" max="1" step="0.1" style="width: 100px">
                </div>
                <div class="settings-row">
                    <label :for="`${index}-leading-weight`">Sävelen johtaminen</label>
                    <input v-model="cadenceParams.leadingWeight" type="range" :id="`${index}-leading-weight`" min="0" max="1" step="0.1" style="width: 100px">
                </div>
            </div>
            <div class="secondary-settings-wrapper">
                <h4>Asteikot</h4>
                <div class="settings-row">
                    <label :for="`${index}-scale-major`">Major</label>
                    <input v-model="cadenceParams.scaleSettings.major.weight" @change="updateCadenceScaleWeight(cadenceParams.scaleSettings.major)" type="range" min="-0.5" max="0" step="0.1">
                </div>
                <div class="settings-row">
                    <label :for="`${index}-scale-minor`">Minor</label>
                    <input v-model="cadenceParams.scaleSettings.minor.weight" @change="updateCadenceScaleWeight(cadenceParams.scaleSettings.minor)" type="range" min="-0.5" max="0" step="0.1">
                </div>
                <div class="settings-row">
                    <label :for="`${index}-scale-harmonicMinor`">Harmonic minor</label>
                    <input v-model="cadenceParams.scaleSettings.harmonicMinor.weight" @change="updateCadenceScaleWeight(cadenceParams.scaleSettings.harmonicMinor)" type="range" min="-0.5" max="0" step="0.1">
                </div>
                <div class="settings-row">
                    <label :for="`${index}-scale-melodicMinorAscending`">Melodic minor ascending</label>
                    <input v-model="cadenceParams.scaleSettings.melodicMinorAscending.weight" @change="updateCadenceScaleWeight(cadenceParams.scaleSettings.melodicMinorAscending)" type="range" min="-0.5" max="0" step="0.1">
                </div>
                <div class="settings-row">
                    <label :for="`${index}-scale-melodicMinorDescending`">Melodic minor descending</label>
                    <input v-model="cadenceParams.scaleSettings.melodicMinorDescending.weight" @change="updateCadenceScaleWeight(cadenceParams.scaleSettings.melodicMinorDescending)" type="range" min="-0.5" max="0" step="0.1">
                </div>
            </div>
            <div class="secondary-settings-wrapper">
                <h4>Soinnut</h4>
                <div class="settings-row">
                    <label for="`${index}-chord-maj`">Maj</label>
                    <input v-model="cadenceParams.chordSettings.maj.weight" @change="chordSettingsUpdate(cadenceParams.chordSettings.maj)" type="range" min="-1" max="0" step="0.1">
                </div>
                <div class="settings-row">
                    <label for="`${index}-chord-min`">Min</label>
                    <input v-model="cadenceParams.chordSettings.min.weight" @change="chordSettingsUpdate(cadenceParams.chordSettings.min)" type="range" min="-1" max="0" step="0.1">
                </div>
                <div class="settings-row">
                    <label for="`${index}-chord-dim`">Dim</label>
                    <input v-model="cadenceParams.chordSettings.dim.weight" @change="chordSettingsUpdate(cadenceParams.chordSettings.dim)" type="range" min="-1" max="0" step="0.1">
                </div>
                <div class="settings-row">
                    <label for="`${index}-chord-aug`">Aug</label>
                    <input v-model="cadenceParams.chordSettings.aug.weight" @change="chordSettingsUpdate(cadenceParams.chordSettings.aug)" type="range" min="-1" max="0" step="0.1">
                </div>
                <div class="settings-row">
                    <label for="`${index}-chord-dom7`">Dom7</label>
                    <input v-model="cadenceParams.chordSettings.dom7.weight" @change="chordSettingsUpdate(cadenceParams.chordSettings.dom7)" type="range" min="-1" max="0" step="0.1">
                </div>
                <div class="settings-row">
                    <label for="`${index}-chord-maj7`">maj7</label>
                    <input v-model="cadenceParams.chordSettings.maj7.weight" @change="chordSettingsUpdate(cadenceParams.chordSettings.maj7)" type="range" min="-1" max="0" step="0.1">
                </div>
                <div class="settings-row">
                    <label for="`${index}-chord-sus2`">sus2</label>
                    <input v-model="cadenceParams.chordSettings.sus2.weight" @change="chordSettingsUpdate(cadenceParams.chordSettings.sus2)" type="range" min="-1" max="0" step="0.1">
                </div>
                <div class="settings-row">
                    <label for="`${index}-chord-sus4`">sus4</label>
                    <input v-model="cadenceParams.chordSettings.sus4.weight" @change="chordSettingsUpdate(cadenceParams.chordSettings.sus4)" type="range" min="-1" max="0" step="0.1">
                </div>
            </div>
            <div class="secondary-settings-wrapper">
                <h4>Äänet</h4>
                <div>
                    <span>Ääni 1</span>
                    <div class="settings-row">
                        <input v-model="cadenceParams.parts[0].note" :id="`${index}-note-p1`" type="text" style="width: 100px">
                        <label for="`${index}-voice-p1`">MIDI</label>
                        <input v-model="cadenceParams.parts[0].voice" id="`${index}-voice-p1`" type="number" step="1"></input>
                    </div>
                </div>
                <div>
                    <span>Ääni 2</span>
                    <div class="settings-row">
                        <input v-model="cadenceParams.parts[1].note" :id="`${index}-note-p2`" type="text" style="width: 100px">
                        <label for="`${index}-voice-p2`">MIDI</label>
                        <input v-model="cadenceParams.parts[1].voice" id="`${index}-voice-p2`" type="number" step="1"></input>
                    </div>
                </div>
                <div>
                    <span>Ääni 3</span>
                    <div class="settings-row">
                        <input v-model="cadenceParams.parts[2].note" :id="`${index}-note-p3`" type="text" style="width: 100px">
                        <label for="`${index}-voice-p3`">MIDI</label>
                        <input v-model="cadenceParams.parts[2].voice" id="`${index}-voice-p3`" type="number" step="1"></input>
                    </div>
                </div>
                <div>
                    <span>Ääni 4</span>
                    <div class="settings-row">
                        <input v-model="cadenceParams.parts[3].note" :id="`${index}-note-p4`" type="text" style="width: 100px">
                        <label for="`${index}-voice-p4`">MIDI</label>
                        <input v-model="cadenceParams.parts[3].voice" id="`${index}-voice-p4`" type="number" step="1"></input>
                    </div>
                </div>
            </div>
            <div class="beatsettings">
                <h4>Iskuasetukset</h4>
                <div v-for="(beat, beatIndex) in cadenceParams.beatSettings" class="beatsetting">
                    <label for="`beat-${index}-${beatIndex}`">{{ beatIndex }}</label>
                    <input v-model="beat.tension" id="`beat-${index}-${beatIndex}`" type="range" step="0.1" min="-1" max="2">
                    <span class="beatresult"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<button onclick="window.giveUP = true">Luovuta generointi</button>
<button id="btn-play">PLAY</button>
<button id="btn-pause">PAUSE</button>
<button id="btn-stop">STOP</button>
<div id="score"></div>
<div id="loading">loading...</div>

</body>
<script>
    const beatMS = 3000;
    const beep = (freq = 320, duration = 100, vol = 5) => {
        const oscillator = context.createOscillator();
        const gain = context.createGain();
        oscillator.connect(gain);
        oscillator.frequency.value = freq;
        oscillator.type = "square";
        gain.connect(context.destination);
        gain.gain.value = vol * 0.01;
        oscillator.start(context.currentTime);
        oscillator.stop(context.currentTime + duration * 0.001);
    }
    const playChord = (notes, length, volMultiplier) => {
        context = new AudioContext();
        volMultiplier = volMultiplier || 1;
        return new Promise((resolve) => {
            let index = 0
            for (const note of notes) {
                const freq = note
                let vol = 2;
                if (index == 0) {
                    vol = 5
                }
                if (index == 2) {
                    vol = 5
                }
                beep(freq, length, vol * volMultiplier)
                index++;
            }
            setTimeout(resolve, length)
        })
    }
    const runChords = async function() {
        let i = 0;
        for (const chord of window.chords) {
            document.querySelector("#currentChord").innerHTML = `${window.result[i].chord.toString()} (${window.result[i].tension.toFixed(2)})`
            await playChord(chord, beatMS)
            i++;
        }
    }
    const playMelody = async function() {
        for (const tick in window.melody) {
            setTimeout(() => {
                const note = window.melody[tick]
                if (note) {
                    beep(note.freq, beatMS / 12 * note.duration, 7)
                }
            }, beatMS / 12 * tick)
        }
    }

    const changeBaseTension = () => {
        const oldBaseTension = window.params.baseTension;
        const newBaseTension = document.querySelector("#base-tension").value;
        const beatSettings = window.params.beatSettings;
        for (let i=0; i<beatSettings.length; i++) {
            const beatSetting = beatSettings[i];
            if (beatSetting.tension === oldBaseTension) {
                beatSetting.tension = newBaseTension;
                document.querySelector(`#beat-${i}`).value = newBaseTension;
            }
        }
        window.params.baseTension = newBaseTension;
    }

    const newMelody = () => {
        const params = updateParamsFromSettings(true);
        window.getNewMelody(params);
    }

    //console.log(window.scoreXML)

</script>
<script>
const { createApp } = Vue

createApp({
  data() {
    return {
      params: {}
    }
  },
  mounted() {
    const params = window.params;
    params.cadences = params.cadences.map(cadenceParams => new window.MusicParams(cadenceParams));
    this.params = params;
    this.checkCadenceCount();
    setTimeout(() => {
        this.checkCadenceCount();
    });
  },
  methods: {
    saveParams(reload = undefined) {
        const searchParams = new URLSearchParams();
        searchParams.set("fulldata", JSON.stringify(this.params));
        const url = new URL(window.location.href);
        url.search = searchParams.toString();
        window.history.pushState({}, "", url.toString());
        if (reload) {
            window.location.reload();
        }
    },
    checkCadenceCount() {
        const newVal = this.params.cadenceCount || 0;
        this.params.cadences = this.params.cadences || [];
        if (this.params.cadences.length < newVal) {
            const diff = newVal - this.params.cadences.length;
            for (let i=0; i<diff; i++) {
                this.params.cadences.push(this.initCadenceParams());
            }
        } else if (this.params.cadences.length > newVal) {
            this.params.cadences = this.params.cadences.slice(0, newVal);
        }
        for (const cadence of this.params.cadences) {
            this.updateCadenceBars(cadence);
        }
    },
    initCadenceParams() {
        let prevCadence = this.params.cadences[this.params.cadences.length - 1];
        const newCadenceSettings = JSON.parse(JSON.stringify(prevCadence));
        return new window.MusicParams(newCadenceSettings);
    },
    updateBaseTension(cadenceParams, event) {
        const oldValue = cadenceParams.baseTension;
        cadenceParams.baseTension = event.target.value;
        for (const beatSetting of cadenceParams.beatSettings) {
            beatSetting.tension = cadenceParams.baseTension;
        }
    },
    updateCadenceScaleWeight(scaleSettings) {
        scaleSettings.enabled = scaleSettings.weight != -0.5;
    },
    chordSettingsUpdate(chordSettings) {
        chordSettings.enabled = chordSettings.weight != -1;
    },
    updateCadenceBars(cadenceParams) {
        const barCount = cadenceParams.barsPerCadence;
        const beatCount = this.params.beatsPerBar * barCount;
        console.log("updateCadenceBars", barCount, beatCount, `${this.params.beatsPerBar}`);
        if (cadenceParams.beatSettings.length < beatCount) {
            const diff = beatCount - cadenceParams.beatSettings.length;
            for (let i=0; i<diff; i++) {
                cadenceParams.beatSettings.push({ tension: cadenceParams.baseTension });
            }
        } else if (cadenceParams.beatSettings.length > beatCount) {
            cadenceParams.beatSettings = cadenceParams.beatSettings.slice(0, beatCount);
        }
        for (const beatSettingIndex in cadenceParams.beatSettings) {
            if (!cadenceParams.beatSettings[beatSettingIndex] || cadenceParams.beatSettings[beatSettingIndex].tension === undefined) {
                cadenceParams.beatSettings[beatSettingIndex] = {
                    tension: cadenceParams.baseTension
                };
            }
            cadenceParams.beatSettings[beatSettingIndex].tension = parseFloat(cadenceParams.beatSettings[beatSettingIndex].tension)
            console.log("beatSettingIndex", beatSettingIndex, cadenceParams.beatSettings[beatSettingIndex]);
        }
    }
  },
  watch: {
    "params.cadenceCount": {
      handler: function (newVal, oldVal) {
        // Make sure we have enough in the params.cadences array
        this.checkCadenceCount();
      },
      deep: true
    },
    "params.beatsPerBar": {
      handler: function (newVal, oldVal) {
        // Make sure we have enough in the params.cadences array
        this.checkCadenceCount();
        const r = document.querySelector(':root');
        if (r) {
            r.classList.remove("beat1");
            r.classList.remove("beat2");
            r.classList.remove("beat3");
            r.classList.remove("beat4");
            r.classList.remove("beat5");
            r.classList.remove("beat6");
            r.classList.remove("beat7");
            r.classList.remove("beat8");
            r.classList.remove("beat9");
            r.classList.add(`beat${newVal}`);
        }
      },
      deep: true
    },
    "params": {
      handler: function (newVal, oldVal) {
        this.saveParams();
      },
      deep: true
    }
  }

}).mount('#vue-template')
</script>
</html>